.nav-container {
  padding: 0.75rem 0;
  background-color: #171d25;
  margin-bottom: 1.25rem;
}

.nav-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  font: var(--font-l);
}
