.container {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  justify-content: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btn {
  align-self: flex-end;
}