.auth-form {
  display: flex;
  flex-direction: column;
  margin: 10% auto;
  width: 40%;
}

.btn {
  align-self: flex-end;
}

.input {
  &.ng-touched{
    &.ng-invalid {
      border-color: red;
    }
  }
}