.post {
  background-color: rgb(84 133 183 / 20%);
  cursor: pointer;

  &:hover {
    background-color: rgb(117 186 255 / 30%);
  }
}

.post-link {
  display: block;
  padding: 0.8rem 1.2rem;
}

.post-title {
  margin: 0;
}
