@import "./variable";

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-color: var(--app-bg-color);
  font: var(--font-m);
  color: #ebebeb;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.mat-mdc-snack-bar-container {
  text-align: center;

    &.snackbar-error {
      --mdc-snackbar-supporting-text-color: rgb(209 31 31);
      --mdc-snackbar-container-color: #3e3e3e;
      --mat-snack-bar-button-color: #dedede
    }
}
