/* You can add global styles to this file, and also import other style files */
@import "./variable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: var(--app-bg-color);
  font: var(--font-m);
  color: #ebebeb;;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  transition: color .15s ease-in-out, background-color .15s ease-in-out;
}

a {
  text-decoration: none;
  color: #fff;
}

