.nav-container {
  width: 100%;
  padding: 0.75rem 0;
  background-color: var(--navbar-bg-color);
  margin-bottom: 1rem;
}

.nav-panel {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  font: var(--font-l);
}

.logout-btn {
  color: rgb(166 43 43);
  border-radius: 5px;
  padding: 4px 8px;
}
